<%- include("navbar",{title: "Sefer Değiştir" }) %>
    <main>
        <div class="banner">Sefer Değiştir</div>

        <form action="/sefer/edit/<%=sefer.id%>" method="post">
            <label>
                Şoför Ad Soyad
                <input name="driver_name" id="driver_name" type="text" value="<%=sefer.driver_name%>" required>
                <input type="hidden" value="<%=sefer.malzeme_id%>" name="malzeme_id">
            </label>
            <label>
                Ödeme Türü
                <select name="pay_type" value="<%=sefer.pay_type%>">
                    <option>Nakit</option>
                    <option>Havale</option>
                </select>
            </label>
            <label>
                Sefer Sayısı
                <input type="number" id="sefer_qty" value="<%=sefer.sefer_qty%>" name="sefer_qty">
            </label>
            <label>
                Ödenen Tutar
                <input type="number" id="total_payout" value="<%= sefer.total_payout %>" name="total_payout">
            </label>

            <button type="submit">Değiştir</button>
        </form>
    </main>
    <script>
        const total_payoutInput = document.querySelector("#total_payout")
        const sefer_qty = document.querySelector("#sefer_qty")
        const unitPrice = <%= malzeme.price %>
            sefer_qty.addEventListener("input", (e) => {
                if (e.target.value < 0) return
                total_payoutInput.value = unitPrice * e.target.value
            })
    </script>
<%- include("footer") %>