<%- include("navbar",{title: "Sefer Değiştir" }) %>
    <main>
        <div class="banner">Sefer Değiştir</div>

         <form action="/sefer/edit/<%=sefer.id%>" method="post">
            <label>
                Sefer Adı
                <input type="text" id="name" value="<%= sefer.name %>" name="name">
            </label>

            <label>
                Sefer Fiyatı
                <input type="number" id="price" value="<%= sefer.price %>" name="price">
            </label>
          
            <button type="submit">Değiştir</button>
        </form>
    </main>
<%- include("footer") %>