<%- include("navbar",{title: "Sefer Oluştur" }) %>
    <main>
        <div class="banner">Sefer Yol Değiştir</div>

        <form action="/update/<%= malzeme.id %>" method="post">
            <label>
                Sefer Adı
                <input name="name" id="name" type="text" value="<%= malzeme.name %>" required>
            </label>
            <label>
                Sefer birim fiyat
                <input name="price" id="price" type="number" value="<%= malzeme.price %>" required>
            </label>

            <button type="submit">Değiştir</button>
        </form>
    </main>

    <%- include("footer") %>