<%- include("navbar",{title:"Ana Sayfa"}) %>
    <main>
    <div class="banner">Ana Sayfa</div>
    <form class="inline">
        <input type="text" name="arama">
        <button type="submit"><i class="fa-solid fa-search"></i> Ara</button>
    </form>
    <a href="/new"><i class="fa-solid fa-plus"></i> Yol Ekle</a>

    <% malzemeList.forEach(malzeme=> {%>
        <div class="row">
            <span>
                <%= malzeme.name %>
            </span>
            <span>
                <%= malzeme.price %> TL
            </span>

            <a href="/sefer/malzeme/<%= malzeme.id %>">Seferlere Git</a>
            <a href="/sefer/new/<%= malzeme.id %>"><i class="fa-solid fa-plus"></i> Sefer Ekle</a>
            <a href="/update/<%= malzeme.id %>" class="secondary"><i class="fa-solid fa-pen"></i></a>

            <form method="post" action="/delete/<%= malzeme.id %>">
                <button class="error" type="submit"><i class="fa-solid fa-trash"></i></button>
            </form>
        </div>
        <%})%>
    </main>
<%- include("footer") %>