<%- include("navbar",{title:"Ana Sayfa"}) %>
    <main>
    <div class="banner">Ana Sayfa</div>
    <form class="inline">
        <input type="text" name="arama">
        <button type="submit"><i class="fa-solid fa-search"></i> Ara</button>
    </form>
    <a href="/new" class="text-lg my-5"><i class="fa-solid fa-plus"></i>Şoför Ekle</a>
    <a href="/sefer" class="text-lg my-5">Seferleri Yönet</a>
    

    <% driverList.forEach(driver => {%>
        <div class="row">
            <span>
                <%= driver.name %>
            </span>
            <span>
                <%= driver.tckn %>
            </span>

            <a href="/odeme/?driverId=<%=driver.id%>">Ödemelere Git</a>
            <a href="/odeme/new/<%=driver.id%>"><i class="fa-solid fa-plus"></i> Ödeme Ekle</a>
            <a href="/update/<%= driver.id %>" class="secondary"><i class="fa-solid fa-pen"></i></a>

            <form method="post" action="/delete/<%=driver.id%>">
                <button class="error" type="submit"><i class="fa-solid fa-trash"></i></button>
            </form>
        </div>
        <%})%>
    </main>
<%- include("footer") %>