<%- include("navbar",{title: "Sefer Detayları" }) %>
    <main>
        <div class="banner">
            <%= malzeme.name %> Seferleri
        </div>
        <form class="inline">
            <input type="search" name="arama">
            <button type="submit"><i class="fa-solid fa-search"></i> Ara</button>
        </form>
        <a href="/">Ana Sayfa</a>
        <% seferList.forEach(sefer=> {%>
            <div class="row">
                <span>
                    <%= sefer.driver_name %>
                </span>
                <span>
                    <%= sefer.sefer_qty %>
                </span>
                <span>
                    <%= sefer.pay_type %>
                </span>
                <span>
                    <%= sefer.total_payout %> TL
                </span>

                <a class="secondary" href="/sefer/edit/<%= sefer.malzeme_id %>/<%= sefer.id %>"><i
                        class="fa-solid fa-pen"></i></a>

                <form method="post" action="/sefer/delete/<%=sefer.id%>/<%= sefer.malzeme_id%>">
                    <button class="error" type="submit"><i class="fa-solid fa-trash"></i></button>
                </form>
            </div>
            <%})%>
                <p class="total">Toplam Ödenen: <%= totalPayout?.sum_payout ?? 0 %> TL</p>

    </main>
    <%- include("footer") %>