<%- include("navbar",{title:"Ana Sayfa"}) %>
    <main>
    <div class="banner"><%=title%></div>
   
    <a href="/" class="text-lg my-5"><i class="fa-solid fa-house"></i>Ana Sayfa</a>
    <a href="/drivers" class="text-lg my-5"><i class="fa-solid fa-users"></i>Şoförler</a>
    <form class="inline filter-bar" method="get" action="/odeme">
        <% if (filters.driverId) { %>
            <input type="hidden" name="driverId" value="<%= filters.driverId %>">
        <% } %>
        <% if (filters.seferId) { %>
            <input type="hidden" name="seferId" value="<%= filters.seferId %>">
        <% } %>
        <label>
            Başlangıç
            <input type="date" name="startDate" value="<%= filters.startDate || "" %>">
        </label>
        <label>
            Bitiş
            <input type="date" name="endDate" value="<%= filters.endDate || "" %>">
        </label>
        <button type="submit"><i class="fa-solid fa-filter"></i> Filtrele</button>
        <a class="secondary" href="/odeme/<%= filters.driverId ? `?driverId=${filters.driverId}` : filters.seferId ? `?seferId=${filters.seferId}` : "" %>">Temizle</a>
    </form>
   
    

    <% odemeList.forEach(odeme => {%>
        <div class="row">
            <span>
                <%= odeme.driver_name %>
            </span>
            <span>
                <%= odeme.sefer_name %>
            </span>
            <span>
                <%= odeme.sefer_date %>
            </span>
            <span>
                <%= odeme.pay_type %>
            </span>
            <span>
                <%= odeme.payout %> TL
            </span>
            <span>
                <% if (odeme.pay_type === "Havale") { %>
                    <form class="switch-form" method="post" action="/odeme/havale-sent/<%= odeme.id %>">
                        <input type="hidden" name="havale_sent" value="false">
                        <label class="switch-label">
                            <span>Gönderildi</span>
                            <input type="checkbox" name="havale_sent" value="true" <%= odeme.havale_sent ? "checked" : "" %> onchange="this.form.submit()">
                            <span class="switch"></span>
                        </label>
                    </form>
                <% } else { %>
                    -
                <% } %>
            </span>

           
           
            <a href="/odeme/update/<%=odeme.driver_id%>/<%= odeme.id %>" class="secondary"><i class="fa-solid fa-pen"></i></a>

            <form method="post" action="/odeme/delete/<%=odeme.id%>">
                <button class="error" type="submit"><i class="fa-solid fa-trash"></i></button>
            </form>
        </div>
        <%})%>

        <div class="total">Toplam ödenen tutar: <%= toplam %> TL</div> 
    </main>
<%- include("footer") %>
